
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 120px;
    margin-bottom: -180px;
}

    .search-container form input {
        border: none;
        padding: 10px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

        .search-container form input:focus {
            transition: 0.2s ease-in-out;
            box-shadow: yellow 0px 0px 6px;
        }

    .search-container form button {
        border: none;
        padding: 10px;
        border-radius: 20px;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

        .search-container form button:hover {
            background-color: #ffff99;
            transition: 0.2s ease-in;
        }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

th, td {
    color: white;
    font-weight: 500;
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.form-check-in {
    border: 2px solid black;
    padding: 20px;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    .form-check-in h2 {
        padding: 5px;
        border-bottom: 2px solid #ffff99;
    }

.form-control {
    border: none;
    border-radius: 20px;
}

    .form-control:focus {
        border: none;
        transition: 0.2s ease-in-out;
        box-shadow: yellow 0px 1px 10px;
    }

.form-button {
    padding: 20px;
}

    .form-button button {
        background-color: white;
        color: black;
        font-weight: 500;
        border: none;
        border-radius: 20px;
    }

        .form-button button:hover {
            color: black;
            background-color: #ffff99;
            transition: 0.2s ease-in;
        }

.container h2 {
    color: white;
    font-size: 25px;
}
