@{
    ViewData["Title"] = "Administratorius";
}

<link rel="stylesheet" href="~/css/Admin/admin.css" />

<div class="container">
    <a class="admin-link" asp-area="" asp-controller="Home" asp-action="EditStudents">Tvarkyti studentus</a>
    <a class="admin-link" asp-area="" asp-controller="Home" asp-action="EditLecturers">Tvarkyti lektorius</a>
    <a class="admin-link" asp-area="" asp-controller="Home" asp-action="EditCompanies">Tvarkyti įmones</a>
    <a class="admin-link" asp-area="" asp-controller="Home" asp-action="EditCourses">Tvarkyti kursus</a>
</div>