@{
    ViewData["Title"] = "Karjieros centras";
}

 <link rel="stylesheet" href="~/css/CareerCenter/careerCenter.css" />

<div class="career-container">
        <div class="career">
            <img class="company-img" src="~/Images/CompanyLogos/CyberCareLogo.jpg" />
            <div class="career-info-container">
                <h1 class="career-name"> Projektų vadovas</h1>
            <p class="career-description">Projektų vadovo pozicijoje išmoksite planuoti, 
                koordinuoti ir kontroliuoti įvairius projektus, įskaitant išteklių paskirstymą 
                ir komandos valdymą. Ši pozicija taip pat suteikia galimybę tobulinti bendravimo
                ir sprendimų priėmimo įgūdžius, dirbant su įvairiomis suinteresuotomis šalimis.</p>
            </div>
            <div class="career-practice-container">
                <h4>Darbo pasiūlymas</h4>
                <button class="confirm-buy-in">Dalyvauti atrankoje</button>
            </div>
        </div>
        <div class="career">
            <img class="company-img" src="~/Images/CompanyLogos/TeltonikaLogo.jpg" />
        <div class="career-info-container">
                <h1 class="career-name">AI/ML saugumo inžinierius</h1>
            <p class="career-description">AI/ML saugumo inžinierius mokosi identifikuoti ir neutralizuoti
                grėsmes bei pažeidžiamumus, susijusius su dirbtinio intelekto ir mašininio mokymosi sistemomis. 
                Šioje pozicijoje bus svarbu išmokti taikyti saugumo protokolus ir metodikas, skirtas apsaugoti 
                duomenis ir infrastruktūrą.</p>
            </div>
            <div class="career-practice-container">
                <h4>Darbo pasiūlymas</h4>
                <button class="confirm-buy-in">Dalyvauti atrankoje</button>
            </div>
        </div>
        <div class="career">
            <img class="company-img-3" src="~/Images/CompanyLogos/MicrosoftLogo.jpg" />
            <div class="career-info-container">
                    <h1 class="career-name">MySQL/Azure specialistas</h1>
                <p class="career-description">Dirbdamas MySQL/Azure specialistu, išmoksi tvarkyti duomenų bazės sistemas,
                    optimizuoti jų veikimą ir užtikrinti duomenų saugumą debesijos aplinkoje. Taip pat išmoksi integruoti 
                    įvairias technologijas ir paslaugas, kad užtikrintum sklandų ir efektyvų duomenų valdymą.</p>
            </div>
            <div class="career-practice-container">
                <h4>Praktika</h4>
                <button class="confirm-buy-in">Dalyvauti atrankoje</button>
            </div>
        </div>

        <div class="career-note">
            <h3> 3 iš 3 darbo/praktikos pasiūlymų</h3>
        </div>
</div>