@{
    ViewData["Title"] = "Karjieros centras";
}

<link rel="stylesheet" href="~/css/Courses/courses.css" />
@* <link rel="stylesheet" href="~/css/coursesForCompanies/coursesForCompanies.css" /> *@

<div class="container">

    <div class="course-row">
        <div class="course-1">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">praktikos pavadinimas</h1>
                <p class="course-description">praktikos descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Dalyvauti atrankoje</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-2">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">praktikos pavadinimas</h1>
                <p class="course-description">praktikos descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Dalyvauti atrankoje</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-3">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">praktikos pavadinimas</h1>
                <p class="course-description">praktikos descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Dalyvauti atrankoje</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-4">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">praktikos pavadinimas</h1>
                <p class="course-description">praktikos descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Dalyvauti atrankoje</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-5">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">praktikos pavadinimas</h1>
                <p class="course-description">praktikos descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Dalyvauti atrankoje</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-6">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">praktikos pavadinimas</h1>
                <p class="course-description">praktikos descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Dalyvauti atrankoje</button>
        </div>
    </div>
</div>