@{
    ViewData["Title"] = "Kontaktai";
}

<link rel="stylesheet" href="~/css/Contacts/contacts.css" />

<div class="social-media-container">
    <h1>Kontaktai</h1>
    <div class="media-container">
        <div class="media-facebook" id="contacts-logo">
            <img src="~/Images/SocialMediaLogos/icons8-facebook-circled-240.png" />
            <a href="https://facebook.com/"> Mūsų Facebook paskyra</a>
        </div>
        <div class="media-instagram" id="contacts-logo">
            <img src="~/Images/SocialMediaLogos/icons8-instagram-240.png" />
            <a href="https://instagram.com/"> Mūsų Instagram paskyra</a>
        </div>
        <div class="media-linkedIn" id="contacts-logo">
            <img src="~/Images/SocialMediaLogos/icons8-linkedin-240.png" />
            <a href="https://linkedin.com/"> Mūsų LinkedIn paskyra</a>
        </div>
        <div class="media-Github" id="contacts-logo">
            <img src="~/Images/SocialMediaLogos/icons8-github-240.png" />
            <a href="https://github.com/"> Mūsų GitHub paskyra</a>
        </div>
    </div>

    <div class="phone-container">
        <div class="media-phone" id="contacts-logo">
            <img src="~/Images/SocialMediaLogos/icons8-phonecall-96.png" />
            <label>+370 XXXX XXXX</label>
        </div>
    </div>

    <div class="contacts-question">
        <h2>Turite klausimų?</h2>
        <h3>Susisiekite su mumis</h3>
    </div>
    
</div>