@{
    ViewData["Title"] = "Kursai Įmonėms";
}

<link rel="stylesheet" href="~/css/coursesForCompanies/coursesForCompanies.css" /> 

<div class="course-container">

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/HTML5_Logo_512.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiūjų HTML kursai įmonėms</h1>
                <p class="course-description">kurso descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/JavaScript-logo.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiūjų JS kursai įmonėms</h1>
                <p class="course-description">kurso descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/Logo_C_sharp.svg.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiūjų C# kursai įmonėms</h1>
                <p class="course-description">kurso descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/MySQL-Logo.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiūjų MySQL kursai įmonėms</h1>
                <p class="course-description">kurso descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/Python_logo_51.svg.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiūjų Python kursai įmonėms</h1>
                <p class="course-description">kurso descriptionas kas bus</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>
    <div class="career-note">
        <h3> 5 iš 5 kursų pasiūlymų</h3>
    </div>
</div>