@{
    ViewData["Title"] = "WEB kūrimo mokymai";
}

<link rel="stylesheet" href="~/css/StudentBoughtCourses/studentBoughtCourses.css" />

<div class="course-container">
    <h1>WEB kūrimo mokymai</h1>
    <div class="video-container">
        <h2>Paskaita 1</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/u72H_zZzkcw"
                title="Web Development In 2023 - A Practical Guide" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 2</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/qz0aGYrrlhU" 
                title="HTML Tutorial for Beginners: HTML Crash Course" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 3</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/HGTJBPNC-Gw" 
                title="HTML &amp; CSS Full Course for free 🌎 (2023)" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
