@{
    ViewData["Title"] = "Kursai Įmonėms";
}

<link rel="stylesheet" href="~/css/coursesForCompanies/coursesForCompanies.css" /> 

<div class="course-container">

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/HTML5_Logo_512.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiųjų HTML kursai įmonėms</h1>
                <p class="course-description">HTML kursas skirtas įmonėms, norinčioms pakelti savo darbuotojų
                    kvalifikaciją web technologijų srityje. Dalyviai išmoks taikyti HTML5 naujoves, kurti
                    prieinamus ir interaktyvius web puslapius naudojant pažangias HTML, CSS ir JavaScript technikas.</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/JavaScript-logo.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiųjų JS kursai įmonėms</h1>
                <p class="course-description">JavaScript kursas skirtas įmonėms, siekiančioms tobulinti savo darbuotojų
                    programavimo įgūdžius. Kursas apims sudėtingas JS funkcijas, asinchroninį programavimą, ir modernias
                    JS bibliotekas. Mokymų metu bus pabrėžiamas praktinis darbas su realiais projektais</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/Logo_C_sharp.svg.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiųjų C# kursai įmonėms</h1>
                <p class="course-description">C# kursas skirtas įmonėms, norinčioms gilinti savo darbuotojų sugebėjimus 
                    programuoti naudojant C#. Dalyviai išmoks efektyviai naudoti C# kalbos ypatybes, tokius kaip LINQ, 
                    asinchroninis programavimas ir .NET Core technologijas. </p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/MySQL-Logo.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiųjų MySQL kursai įmonėms</h1>
                <p class="course-description">MySQL kursas įmonėms skirtas sustiprinti darbuotojų duomenų bazės valdymo 
                    įgūdžius. Kursas apims duomenų bazės optimizavimą, sudėtingų užklausų kūrimą ir saugumo strategijas, 
                    kartu suteikiant praktinę patirtį su realiais problemų atvejais.</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img src="~/Images/CoursesForCompaniesLogos/Python_logo_51.svg.png" />
            <div class="course-info-container">
                <h1 class="course-name">Pažengusiųjų Python kursai įmonėms</h1>
                <p class="course-description">Python kursas įmonėms skirtas gilinti darbuotojų programavimo žinias. Kursas
                    apims sudėtingus programavimo principus, duomenų analizę ir efektyvų kodo rašymą. Dalyviai mokysis taikyti 
                    Python įvairiuose projektuose, naudodami pažangias bibliotekas ir įrankius praktinėje veikloje.</p>
            </div>
            <button class="confirm-buy-in">Užsakyti</button>
        </div>
    </div>
    <div class="career-note">
        <h3> 5 iš 5 kursų pasiūlymų</h3>
    </div>
</div>