@{
    ViewData["Title"] = "Kursai";
}

<link rel="stylesheet" href="~/css/Courses/courses.css" />

<div class="course-container">

    <div class="course-row">
        <div class="course">
            <img class="course-img" src="~/Images/CoursesLogos/WEB.jpg" />
            <div class="course-info-container">
                <h1 class="course-name">WEB kūrimo mokymai</h1>
                <p class="course-description">
                    Šiame web kūrimo mokymų kurse įgysite praktinių įgūdžių,
                    kaip kurti ir stilizuoti svetaines naudojant HTML, CSS, Bootstrap bei kitus stilių
                    karkasus. Mokysitės suteikti svetainei dinamiškumo naudojant JavaScript ir JQuery,.
                </p>
                <h2 class="course-price">Kaina: 2400€</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>

        <div class="course">
            <img class="course-img" src="~/Images/CoursesLogos/UIUX.jpg" />
            <div class="course-info-container">
                <h1 class="course-name">UX/UI WEB dizaino mokymai</h1>
                <p class="course-description">
                    Šiame UX/UI web dizaino mokymų kurse įgysite
                    esminius internetinių svetainių dizaino kūrimo įgūdžius, sužinosite
                    apie UI dizaino projekto etapus, ir išmoksite identifikuoti efektyvias
                    bei neefektyvias dizaino praktikas.
                </p>
                <h2 class="course-price">Kaina: 650€</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img class="course-img" src="~/Images/CoursesLogos/DA.jpg" />
            <div class="course-info-container">
                <h1 class="course-name">Duomenų analitika ir python programavimo pagrindai</h1>
                <p class="course-description">Šiame kurse išmoksite pagrindinius duomenų 
                    analizės ir Python programavimo principus, įgysite įgūdžių naudoti SQL duomenų
                    išgavimui, o taip pat dirbti su „Tableau“ ir „Power Bi“ duomenų vizualizacijai.</p>
                <h2 class="course-price">Kaina: 2100€</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>

        <div class="course">
            <img class="course-img" src="~/Images/CoursesLogos/AT.jpg" />
            <div class="course-info-container">
                <h1 class="course-name">Automatinio ir rankinio testavimo mokymai</h1>
                <p class="course-description">
                    Šiame mokymų kurse susipažinsite su automatinio ir
                    rankinio testavimo pagrindais. Išmoksite programuoti naudodami C# ir JAVA,
                    kurti bei automatizuoti testavimo scenarijus su NUnit biblioteka, taip pat
                    naudoti populiarius testų automatizavimo įrankius kaip Postman ir JUnit.
                </p>
                <h2 class="course-price">Kaina: 850€</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course">
            <img class="course-img" src="~/Images/CoursesLogos/WEB2.png" />
            <div class="course-info-container">
                <h1 class="course-name">WEB dizainas ir front-end programavimo pagrindai</h1>
                <p class="course-description">Šiame web dizaino ir front-end programavimo kurse įgysite 
                    tvirtus internetinių svetainių UI/UX dizaino kūrimo pagrindus. Mokymai padės jums
                    išsamiai susipažinti su UI dizaino projekto įgyvendinimo etapais ir įvaldyti esamų 
                    svetainių analizės bei gerosios praktikos identifikavimo įgūdžius.</p>
                <h2 class="course-price">Kaina: 2300€</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>

        <div class="course">
            <img class="course-img" src="~/Images/CoursesLogos/JavaScript.jpg" />
            <div class="course-info-container">
                <h1 class="course-name">Java-script mokymai</h1>
                <p class="course-description">
                    Šiame JavaScript mokymų kurse išmoksite kurti svetaines
                    ir jų karkasus naudojant HTML, stilizuoti jas su CSS ir įvairiais dizaino karkasais,
                    pavyzdžiui, Materialize, Bootstrap ar Pure CSS. Taip pat kursas apima JavaScript
                    naudojimą svetainės dinamikai suteikti, o su ReactJS išmoksite kurti sudėtingas ir
                    interaktyvias web aplikacijas.
                </p>
                <h2 class="course-price">Kaina: 2200€</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>
    <div class="course-note">
        <h3> 6 iš 6 kursų pasiūlymų</h3>
    </div>
</div>