@{
    ViewData["Title"] = "Java-script mokymai";
}

<link rel="stylesheet" href="~/css/StudentBoughtCourses/studentBoughtCourses.css" />

<div class="course-container">
    <h1>Java-script mokymai</h1>
    <div class="video-container">
        <h2>Paskaita 1</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/lkIFF4maKMU" 
                title="100+ JavaScript Concepts you Need to Know" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 2</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/W6NZfCO5SIk" 
                title="JavaScript Tutorial for Beginners: Learn JavaScript in 1 Hour" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 3</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/DHjqpvDnNGE" 
                title="JavaScript in 100 Seconds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>