@{
    ViewData["Title"] = "Automatinio testavimo kursai";
}

<link rel="stylesheet" href="~/css/StudentBoughtCourses/studentBoughtCourses.css" />

<div class="course-container">
    <h1>Automatinio testavimo kursai</h1>
    <div class="video-container">
        <h2>Paskaita 1</h2>
        <iframe width="787" height="443" src="https://www.youtube.com/embed/zuKbR4Q428o"
                title="JavaScript Unit Testing Tutorial for Beginners" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 2</h2>
        <iframe width="787" height="443" src="https://www.youtube.com/embed/Jv2uxzhPFl4"
                title="Test-Driven Development // Fun TDD Introduction with JavaScript"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 3</h2>
        <iframe width="787" height="443" src="https://www.youtube.com/embed/YaXJeUkBe4Y"
                title="5 Types of Testing Software Every Developer Needs to Know!" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

