@{
    ViewData["Title"] = "Duomenų analitika ir python programavimo pagrindai";
}

<link rel="stylesheet" href="~/css/StudentBoughtCourses/studentBoughtCourses.css" />

<div class="course-container">
    <h1>Duomenų analitika ir python programavimo pagrindai</h1>
    <div class="video-container">
        <h2>Paskaita 1</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/_gF2Mj1354M" 
                title="How I&#39;d Learn to be a Data Analyst in 2024" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 2</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/oXpJzbXnB4A" 
                title="How important is programming and machine learning for a Data Analyst?" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 3</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/CaqJ65CIoMw" 
                title="Data Analytics Full Course 2022 | Data Analytics For Beginners | Data Analytics Course | Simplilearn" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>