@{
    ViewData["Title"] = "WEB dizainas ir front-end programavimo pagrindai";
}

<link rel="stylesheet" href="~/css/StudentBoughtCourses/studentBoughtCourses.css" />

<div class="course-container">
    <h1>WEB dizainas ir front-end programavimo pagrindai</h1>
    <div class="video-container">
        <h2>Paskaita 1</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/MsnQ5uepIaE"
                title="Frontend Web Development: In-Depth Project Tutorial (HTML, CSS, JavaScript, TypeScript, React)" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 2</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/-_X6PhkjpzU" 
                title="5 Front-end Development Skills to Land Your First Job" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 3</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/PRSyHTajxPk" 
                title="Front End vs Back End | Front End vs Back End Explained | Full Stack Training | Simplilearn" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>