@{
    ViewData["Title"] = "UX/UI WEB dizaino mokymai";
}

<link rel="stylesheet" href="~/css/StudentBoughtCourses/studentBoughtCourses.css" />

<div class="course-container">
    <h1>UX/UI WEB dizaino mokymai</h1>
    <div class="video-container">
        <h2>Paskaita 1</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/c9Wg6Cb_YlU" 
                title="UI / UX Design Tutorial – Wireframe, Mockup &amp; Design in Figma" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 2</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/zHAa-m16NGk" 
                title="What is UI vs. UX Design? |  What&#39;s The Difference? |  UX/UI Explained in 2 Minutes For BEGINNERS." 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <h2>Paskaita 3</h2>
        <iframe width="858" height="483" src="https://www.youtube.com/embed/cKZEgtQUxlU" 
                title="Design 101 Crash Course: Learn UX/UI Design, Figma (6 HOURS!) | Zero To Mastery" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>