@{
    ViewData["Title"] = "Kursai";
}

<link rel="stylesheet" href="~/css/Courses/courses.css" />

<div class="container">

    <div class="course-row">
        <div class="course-1">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">kurso pavadinimas</h1>
                <p class="course-description">kurso descriptionas kas buts mokoma</p>
                <h2 class="course-price">kurso kaina</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-2">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">kurso pavadinimas</h1>
                <p class="course-description">kurso descriptionas kas buts mokoma</p>
                <h2 class="course-price">kurso kaina</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-3">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">kurso pavadinimas</h1>
                <p class="course-description">kurso descriptionas kas buts mokoma</p>
                <h2 class="course-price">kurso kaina</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-4">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">kurso pavadinimas</h1>
                <p class="course-description">kurso descriptionas kas buts mokoma</p>
                <h2 class="course-price">kurso kaina</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-5">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">kurso pavadinimas</h1>
                <p class="course-description">kurso descriptionas kas buts mokoma</p>
                <h2 class="course-price">kurso kaina</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>

    <div class="course-row">
        <div class="course-6">
            <img src="~/Images/" />
            <div class="course-container">
                <h1 class="course-name">kurso pavadinimas</h1>
                <p class="course-description">kurso descriptionas kas buts mokoma</p>
                <h2 class="course-price">kurso kaina</h2>
            </div>
            <button class="confirm-buy-in">Pirkti kursą</button>
        </div>
    </div>
</div>