@{
    ViewData["Title"] = "Lektorius";
}

<link rel="stylesheet" href="~/css/LogInSelection/logInSelection.css" />

<div class="selection-container">
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="EditStudents">Tvarkyti studentus</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="EditCourses">Tvarkyti kursus</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="ReviewRatings">Peržiūrėti kursų įvertinimus</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="AddStudentToAGroup">Priskirti studentą/us prie grupės</a>
</div>