@{
    ViewData["Title"] = "Student";
}

<link rel="stylesheet" href="~/css/LogInSelection/logInSelection.css" />

<div class="selection-container">
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Index">Peržiūrėti nupirktas paskaitas (N/A)</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Index">Įvertinti kursą (N/A)</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Index">Peržiūrėti kursų įvertinimus (N/A)</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Index">Profilio informacija (N/A)</a>
</div>