@{
    ViewData["Title"] = "Studento kursai";
}

<link rel="stylesheet" href="~/css/LogInSelection/logInSelection - Copy.css" />

<div class="selection-container">
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Course_AT">Automatinio Testavimo kursai</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Course_WEB">WEB kūrimo mokymai</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Course_UIUX">UX/UI WEB dizaino mokymai</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Course_DAPY">Duomenų analitika ir python programavimo pagrindai</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Course_WEB2">WEB dizainas ir front-end programavimo pagrindai</a>
    <a class="selection-link" asp-area="" asp-controller="Home" asp-action="Course_JS">Java-script mokymai</a>
</div>